
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


.input-field {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.select-field{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}



.select-field:focus {
  border-color: #007BFF;
  outline: none;
}
.input-field:focus {
  border-color: #007BFF;
  outline: none;
}


.submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.login-link {
 
  text-align: center;
  margin-top: 10px;
}

.register-link {
  
  color: #007BFF;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover {
  color: #0056b3;
}
